In [4]:
print("Hello world")

Hello world

### Wassim Mecheri Lab 2
# Selecting the Best Regression Model for Job Satisfaction Prediction

Objective

The goal of this task is to identify the best model to predict job satisfaction based on employee characteristics. You will compare three models: Lasso, Ridge, and Elastic Net, and find the best penalty value for each model.

## 0 Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split

# 1 Data Splitting

## 1.1 Read the DataSet

In [3]:
df = pd.read_csv('modified_data.csv')
df

,Gender,Education_Level,Age,Years_of_Experience,Hours_Worked_Per_Week,Salary,Job_Satisfaction
0,Male,Master,41,15,42,87446,8
1,Female,Bachelor,36,22,34,73666,10
2,Male,Bachelor,41,14,41,113796,10
3,Male,PhD,16,29,36,53834,14
4,Male,Bachelor,37,18,41,53205,8
...,...,...,...,...,...,...,...
95,Female,Bachelor,30,8,45,23961,7
96,Female,Bachelor,39,21,55,39696,9
97,Female,PhD,44,15,50,97337,7
98,Female,High School,43,10,62,102899,6
99,Male,Master,50,17,32,65019,5

## 1.2 Create y and X

In [7]:
y = df['Job_Satisfaction']
# X = df['Gender','Education_Level','Age','Years_of_Experience','Hours_Worked_Per_Week','Salary']
print(X)
print(y)

    Gender Education_Level  Age  Years_of_Experience  Hours_Worked_Per_Week  \
0     Male          Master   41                   15                     42
1   Female        Bachelor   36                   22                     34
11    Male          Master   44                   15                     46
13    Male        Bachelor   46                    7                     34
15    Male             PhD   52                   19                     35
..     ...             ...  ...                  ...                    ...
95  Female        Bachelor   30                    8                     45
96  Female        Bachelor   39                   21                     55
97  Female             PhD   44                   15                     50
98  Female     High School   43                   10                     62
99    Male          Master   50                   17                     32

    Salary  Job_Satisfaction
0    87446                 8
1    73666                10
11  107523                 6
13   58461                 5
15   79838                 9
..     ...               ...
95   23961                 7
96   39696                 9
97   97337                 7
98  102899                 6
99   65019                 5

[89 rows x 7 columns]
0      8
1     10
2     10
3     14
4      8
      ..
95     7
96     9
97     7
98     6
99     5
Name: Job_Satisfaction, Length: 100, dtype: int64

## 1.3 Split into train, validation and test

In [5]:
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.2, random_state=42) 
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [89, 100]

# 2 - Model Selection

In [ ]:
ridge = Ridge(alpha=10)
ridge.fit(X_train, y_train)

lasso = Lasso(alpha=10)
lasso.fit(X_train, y_train)

elastic = ElasticNet(alpha=0.1, l1_ratio=0.5)
elastic.fit(X_train, y_train)

# 3 - Model Comparison